# Server Configuration
PORT=4000
NODE_ENV=development

# PostgreSQL Database (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce_saas?schema=public"

# Redis Configuration (BullMQ Queue)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Queue Settings
WEBHOOK_QUEUE_NAME=ecommerce-webhooks

# Meta WhatsApp Cloud API
META_API_VERSION=v17.0
META_PHONE_NUMBER_ID=your_meta_phone_number_id
META_ACCESS_TOKEN=your_system_user_access_token
META_BUSINESS_ACCOUNT_ID=your_whatsapp_business_account_id
META_WEBHOOK_VERIFY_TOKEN=your_meta_webhook_verify_token
DEFAULT_COUNTRY_CODE=1

# JWT Authentication
JWT_SECRET=super_secret_jwt_key_for_merchant_sessions
JWT_EXPIRES_IN=7d

# Stripe Monetization & Billing
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_signing_secret
STRIPE_PRICE_BASIC=price_your_basic_plan_price_id
STRIPE_PRICE_PRO=price_your_pro_plan_price_id
# Merchant Dashboard URL (Frontend)
# Local: http://localhost:3000 | Production: https://wanotify-frontend.vercel.app
APP_URL=http://localhost:3000

# Ngrok Webhook Tunnel
NGROK_AUTHTOKEN=your_ngrok_authtoken_here
NGROK_DOMAIN=your_custom_domain_or_subdomain.ngrok-free.app

# Shopify App & OAuth
SHOPIFY_API_KEY=your_shopify_app_client_id
SHOPIFY_API_SECRET=your_shopify_app_client_secret
SHOPIFY_SCOPES=read_orders,write_orders,read_checkouts,write_checkouts
